.container {
  display: grid;
  justify-content: center;
  justify-items: center; 
  width: 100%; 
  grid-row-gap: 20px; 
  grid-template-columns: minmax(30px, 1fr) minmax(auto, 600px) minmax(30px, 1fr);
  grid-template-areas: ".   appendInput      ."
                       ".   appendButton     ."
                       ".   appendResult     .";
                      
}

.appendInput {
  grid-area: appendInput;
  width: 100%;
  font-size: 16px; 
  border-radius: 20px; 
}

.appendButton {
  grid-area: appendButton;
  width: 120px; 
  font-size: 14px;
}

.appendResult {
  grid-area: appendResult;
}
