.container {
  display: grid;
  justify-content: center;
  justify-items: center; 
  width: 100%; 
  grid-row-gap: 20px; 
  grid-template-columns: minmax(30px, 1fr) minmax(auto, 600px) minmax(30px, 1fr);
  grid-template-areas: ".   searchInput      ."
                       ".   searchButton     ."
                       ".   searchResult     .";
                      
}

.searchInput {
  grid-area: searchInput;
  width: 100%;
  height: 35px; 
  padding: 3px 10px; 
  font-size: 16px; 
  border-radius: 20px; 
}

.searchButton {
  grid-area: searchButton;
  width: 120px; 
  height: 36px; 
  font-size: 14px;
}

.searchResult {
  grid-area: searchResult;
}
